.content-management-block-table > tbody > tr > td:first-child {
  width: 75%;
}

.flex-container > div {
  display: flex;
}

.flex-container > div > fieldset {
  flex-grow: 1;
  flex-basis: 0;
}

.dashboard__site-info {
  float: right;
  margin-bottom: 0.2rem;
}

.dashboard__site-info details {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.dashboard__site-info summary {
  cursor: help;
  list-style: none;
  border-bottom: 1px black dashed;
  text-transform: none;
  padding: 0;
  font-weight: normal;
}

.dashboard__site-info summary::-webkit-details-marker {
  display: none;
}

.dashboard__site-info .info {
  position: absolute;
  right: -1rem;
  border: 1px solid var(--uw-black);
  background: #f5f5f2;
  margin-top: 3px;
  padding: 10px;
  width: 20ch;
  z-index: 1;
}

.dashboard__site-info .info p {
  margin: 0;
}

.dashboard__site-info .more {
  text-align: right;
  padding-top: 10px;
  font-size: 90%;
  text-wrap: balance;
}
